*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}
body{
  background-image: url(../media/bg.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  width: 100vw;
  height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.container{
  height: 100vh;
  position: relative;
}
h2{
  color: white;
  font-size: large;
  font-weight: 900;
}
.gears{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.ejo{
  margin: 2rem 2rem;
}
.ejo img{
  margin-bottom: 1rem;
}
.ejo p{
  color: #746EA8;
  padding: .6rem 0;
  font-weight: 800;
}
.lander{
  position: absolute;
  top: 20vh;
  right: 65vh;
  z-index: 1;
}
.advertisement{
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  margin-right: 3rem;
  margin-top: 2rem;
}
.advertisement button{
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 1px;
    width: 10rem;
    color: white;
    padding: 1rem;
    background: linear-gradient(321.25deg, rgb(223, 56, 124) -33.39%, rgb(255, 96, 44) 103.69%);
    border-radius: 3rem;
    text-decoration: none;
    cursor: pointer;
}
.advert{
  color: white;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  line-height: 2rem;
  font-weight: 700;
  text-align: right;
}
h1{
  font-size: 8rem;
  font-weight: 900;
  color: white;
  position: absolute;
  right: 20vw;
  top: 20vh;
  z-index: 2;
}
footer{
  display: flex;
  margin: 2rem 2.3rem;
}
footer img{
  padding-left: 1rem;
}
